section{

    margin: 20px;
    padding: 20px;
    background: #2d2d2d;
    font-family: "open sans", sans, sans-serif;
    color: #dae4ed;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: available;
}
div, section {
    box-sizing:border-box;
}

body {margin: 0;
    background: #2d2d2d;
}

.header{
    padding: 30px;
    background: #2d2d2d;
    color: #dae4ed;
    font-family: "open sans", sans, sans-serif;
    font-size: 20px;
    text-align: center;
    top: 0px;
}
.fade
{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}

main {
    max-width: 800px;
    margin : 0 auto;
}